.font-sans.bg-grey-lighter.flex.flex-col.min-h-screen.w-full
  %div
    .bg-blue-dark
      .container.mx-auto.px-4
        .flex.items-center.md:justify-between.py-4
          .md:hidden{:class => "w-1/4"}
            %svg.fill-current.text-white.h-8.w-8{:viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M16.4 9H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zm0 4H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zM3.6 7h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1z"}
          .md:w-auto.text-center.text-white.text-2xl.font-medium{:class => "w-1/2"}
            webirCrypto - Bitcoin
    .hidden.bg-blue-dark.md:block.md:bg-white.md:border-b
      .container.mx-auto.px-4
        .md:flex
          .flex.-mb-px.mr-8
            = link_to criptocurrency_histories_path, class: 'no-underline text-white opacity-50 md:text-grey-dark md:opacity-100 flex items-center py-4 border-b border-transparent hover:opacity-100 md:hover:border-grey-dark' do
              = inline_svg('dashboard.svg', class: 'w-6 h-6 mr-1')
              Dashboard
          .flex.-mb-px.mr-8
            = link_to bitcoin_index_path, class: 'no-underline text-white md:text-blue-dark flex items-center py-4 border-b border-blue-dark' do
              = inline_svg('bitcoin.svg', class: 'w-6 h-6 mr-1')
              Bitcoin
          .flex.-mb-px.mr-8
            = link_to litecoin_index_path, class: 'no-underline text-white opacity-50 md:text-grey-dark md:opacity-100 flex items-center py-4 border-b border-transparent hover:opacity-100 md:hover:border-grey-dark' do
              = inline_svg('litecoin.svg', class: 'w-6 h-6 mr-1')
              Litecoin
          .flex.-mb-px.mr-8
            = link_to ethereum_index_path, class: 'no-underline text-white opacity-50 md:text-grey-dark md:opacity-100 flex items-center py-4 border-b border-transparent hover:opacity-100 md:hover:border-grey-dark' do
              = inline_svg('ethereum.svg', class: 'w-6 h-6 mr-1')
              Ethereum
  .flex-grow.container.mx-auto.sm:px-4.pt-6.pb-8
    .bg-white.border-t.border-b.sm:border-l.sm:border-r.sm:rounded.shadow.mb-6
      .flex
        .text-center.py-8{:class => "w-1/3"}
          .border-r
            .text-grey-darker.mb-2
              %span#bitstamp-bitcoin-price.text-5xl
            .text-sm.uppercase.text-grey.tracking-wide
              Bitstamp
        .text-center.py-8{:class => "w-1/3"}
          .border-r
            .text-grey-darker.mb-2
              %span#bitfinex-bitcoin-price.text-5xl
            .text-sm.uppercase.text-grey.tracking-wide
              Bitfinex
        .text-center.py-8{:class => "w-1/3"}
          %div
            .text-grey-darker.mb-2
              %span#coinbase-bitcoin-price.text-5xl
            .text-sm.uppercase.text-grey.tracking-wide
              Coinbase
      #refresh-bitcoin-prices.text-right.pointer.text-sm.px-4gi.cursor-pointer.mr-2
        %svg.h-4.w-4.fill-current{:viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M9 12l-4.463 4.969-4.537-4.969h3c0-4.97 4.03-9 9-9 2.395 0 4.565.942 6.179 2.468l-2.004 2.231c-1.081-1.05-2.553-1.699-4.175-1.699-3.309 0-6 2.691-6 6h3zm10.463-4.969l-4.463 4.969h3c0 3.309-2.691 6-6 6-1.623 0-3.094-.65-4.175-1.699l-2.004 2.231c1.613 1.526 3.784 2.468 6.179 2.468 4.97 0 9-4.03 9-9h3l-4.537-4.969z", "fill-rule" => "nonzero"}
        Refresh

    .flex.flex-wrap.-mx-4
      .w-full.mb-6.lg:mb-0.px-4.flex.flex-col{:class => "lg:w-1/2"}
        .flex-grow.flex.flex-col.bg-white.border-t.border-b.sm:rounded.sm:border.shadow.overflow-hidden
          .border-b
            .flex.justify-between.px-6.-mb-px
              %h3.text-blue-dark.py-4.font-normal.text-lg Your Portfolio
          .flex-grow.flex.px-6.py-6.text-grey-darker.items-center.border-b.-mx-4
            .px-4.flex.items-center{:class => "w-2/5 xl:w-1/4"}
              .rounded-full.bg-orange.inline-flex.mr-3
                %svg.fill-current.text-white.h-8.w-8.block{:viewbox => "0 0 32 32", :xmlns => "http://www.w3.org/2000/svg"}
                  %g{"fill-rule" => "evenodd"}
                    %path{:d => "M21.78 15.37c.51-.61.83-1.4.83-2.26 0-2.74-1.6-4.38-4.24-4.38V5.45c0-.12-.1-.22-.22-.22h-1.27c-.11 0-.2.1-.2.21v3.3h-1.7V5.44c0-.12-.1-.22-.22-.22H13.5c-.12 0-.2.1-.21.21v3.3H9.67c-.12 0-.21.09-.21.21v1.31c0 .12.1.22.21.22h.21c.94 0 1.7.79 1.7 1.75v7c0 .92-.68 1.67-1.55 1.75a.21.21 0 0 0-.18.16l-.33 1.32c-.01.06 0 .13.04.19.04.05.1.08.17.08h3.55v3.3c0 .1.1.2.2.2h1.28c.12 0 .21-.1.21-.22v-3.28h1.7v3.3c0 .1.1.2.21.2h1.27c.12 0 .22-.1.22-.22v-3.28h.85c2.65 0 4.24-1.64 4.24-4.37 0-1.28-.68-2.39-1.68-3zm-6.8-4.01h2.54c.94 0 1.7.78 1.7 1.75 0 .96-.76 1.75-1.7 1.75h-2.55v-3.5zm3.39 8.75h-3.4v-3.5h3.4c.93 0 1.7.78 1.7 1.75 0 .96-.77 1.75-1.7 1.75z"}
              %span.text-lg Bitcoin
            .hidden.md:flex.lg:hidden.xl:flex.px-4.items-center{:class => "w-1/4"}
              .bg-orange.h-2.rounded-full.flex-grow.mr-2
              100%
            .flex{:class => "w-3/5 md:w/12"}
              .px-4{:class => "w-1/2"}
                .text-right
                  0.0010 BTC
              .px-4{:class => "w-1/2"}
                .text-right.text-grey
                  CA$21.28
          .flex-grow.flex.px-6.py-6.text-grey-darker.items-center.border-b.-mx-4
            .px-4.flex.items-center{:class => "w-2/5 xl:w-1/4"}
              .rounded-full.bg-grey.inline-flex.mr-3
                %svg.fill-current.text-white.h-8.w-8.block{:viewbox => "0 0 38 38", :xmlns => "http://www.w3.org/2000/svg"}
                  %g{"fill-rule" => "evenodd"}
                    %path{:d => "M12.29 28.04l1.29-5.52-1.58.67.63-2.85 1.64-.68L16.52 10h5.23l-1.52 7.14 2.09-.74-.58 2.7-2.05.8-.9 4.34h8.1l-.99 3.8z"}
              %span.text-lg Litecoin
            .hidden.md:flex.lg:hidden.xl:flex.px-4.items-center{:class => "w-1/4"}
              .bg-grey.h-2.w-2.rounded-full.mr-2
              0%
            .flex{:class => "w-3/5 md:w/12"}
              .px-4{:class => "w-1/2"}
                .text-right
                  0.0000 LTC
              .px-4{:class => "w-1/2"}
                .text-right.text-grey
                  CA$0.00
          .flex-grow.flex.px-6.py-6.text-grey-darker.items-center.border-b.-mx-4
            .px-4.flex.items-center{:class => "w-2/5 xl:w-1/4"}
              .rounded-full.bg-indigo.inline-flex.mr-3
                %svg.fill-current.text-white.h-8.w-8.block{:viewbox => "0 0 32 32", :xmlns => "http://www.w3.org/2000/svg"}
                  %g{"fill-rule" => "evenodd"}
                    %path{:d => "M10.13 17.76c-.1-.15-.06-.2.09-.12l5.49 3.09c.15.08.4.08.56 0l5.58-3.08c.16-.08.2-.03.1.11L16.2 25.9c-.1.15-.28.15-.38 0l-5.7-8.13zm.04-2.03a.3.3 0 0 1-.13-.42l5.74-9.2c.1-.15.25-.15.34 0l5.77 9.19c.1.14.05.33-.12.41l-5.5 2.78a.73.73 0 0 1-.6 0l-5.5-2.76z"}
              %span.text-lg Ethereum
            .hidden.md:flex.lg:hidden.xl:flex.px-4.items-center{:class => "w-1/4"}
              .bg-indigo.h-2.w-2.rounded-full.mr-2
              0%
            .flex{:class => "w-3/5 md:w/12"}
              .px-4{:class => "w-1/2"}
                .text-right
                  0.0000 ETH
              .px-4{:class => "w-1/2"}
                .text-right.text-grey
                  CA$0.00
          .px-6.py-4
            .text-center.text-grey
              Total Balance ≈ CA$21.28
      .w-full.px-4{:class => "lg:w-1/2"}
        .bg-white.border-t.border-b.sm:rounded.sm:border.shadow
          .border-b
            .flex.justify-between.px-6.-mb-px
              %h3.text-blue-dark.py-4.font-normal.text-lg Recent Activity
          %div
            .text-center.px-6.py-4
              .py-8
                .mb-4
                  %svg.inline-block.fill-current.text-grey.h-16.w-16{:viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M11.933 13.069s7.059-5.094 6.276-10.924a.465.465 0 0 0-.112-.268.436.436 0 0 0-.263-.115C12.137.961 7.16 8.184 7.16 8.184c-4.318-.517-4.004.344-5.974 5.076-.377.902.234 1.213.904.959l2.148-.811 2.59 2.648-.793 2.199c-.248.686.055 1.311.938.926 4.624-2.016 5.466-1.694 4.96-6.112zm1.009-5.916a1.594 1.594 0 0 1 0-2.217 1.509 1.509 0 0 1 2.166 0 1.594 1.594 0 0 1 0 2.217 1.509 1.509 0 0 1-2.166 0z"}
                %p.text-2xl.text-grey-darker.font-medium.mb-4 No buys or sells yet
                %p.text-grey.max-w-xs.mx-auto.mb-6 You've successfully linked a payment method and can start buying digital currency.
                %div
                  %button.bg-blue.hover:bg-blue-dark.text-white.border.border-blue-dark.rounded.px-6.py-4{:type => "button"} Buy now

  .bg-white.border-t
    .container.mx-auto.px-4.py-6
      .text-grey.text-center.md:mr-4 © Webir 2018 - Grupo 05
