<p id="notice"><%= notice %></p>

<h1>Criptocurrency Histories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criptocurrency_histories.each do |criptocurrency_history| %>
      <tr>
        <td><%= criptocurrency_history.name %></td>
        <td><%= link_to 'Show', criptocurrency_history %></td>
        <td><%= link_to 'Edit', edit_criptocurrency_history_path(criptocurrency_history) %></td>
        <td><%= link_to 'Destroy', criptocurrency_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Criptocurrency History', new_criptocurrency_history_path %>
