<%= form_with(model: criptocurrency, local: true) do |form| %>
  <% if criptocurrency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(criptocurrency.errors.count, "error") %> prohibited this criptocurrency from being saved:</h2>

      <ul>
      <% criptocurrency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
